.ーーー【横幅と高さ】ーーーーーーーーーーーーーーーー {border:none;}
.ーー横幅pxーーーーーーーーーーーーーーーー {border:none;}

div {
    background: #ff0000;
    width: 300px;
}


.ーー横幅％ーーーーーーーーーーーーーーーー {border:none;}

.parent {
    width: 1000px;
    background-color: red;
}
  
.child {
    width: 25%;
    background-color: yellow;
}


.ーー横幅vwーーーーーーーーーーーーーーーー {border:none;}

.parent {
    width: 50vw;
    background-color: red;
}


.ーー高さpxーーーーーーーーーーーーーーーー {border:none;}

div {
    background: #ff0000;
    height: 300px;
}


.ーー高さ％ーーーーーーーーーーーーーーーー {border:none;}

.parent {
    background-color: red;
    height: 200px;
}
  
.child {
    display: inline-block;
    height: 50%;
    background-color: yellow;
}


.ーー高さvhーーーーーーーーーーーーーーーー {border:none;}

.parent {
    height: 50vh;
    background-color: red;
}


.ーー％とvwとvhの違いーーーーーーーーーーー {border:none;}

.parrent {
    width: 300px;
    height: 300px;
    background-color: red;
}
  
.child {
    width: 30%;
    height: 30%;
    color: #fff;
    background-color: blue;
}
  
.viewport {
    width: 50vw;
    height: 50vh;
    background-color: yellow;
}


.ーー問題１ーーーーーーーーーーーーーーーー {border:none;}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.img {
  width: 100%;
  height: 100vh;
}


.ーー問題２ーーーーーーーーーーーーーーーーー {border:none;}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
  
.content {
    width: 500px;
    height: 500px;
}
  
.red-box {
    width: 100%;
    height: 50%;
    background-color: red;
}
  
.blue-box {
    width: 100%;
    height: 50%;
    background-color: blue;
}