.ーーー【枠線と角丸】ーーーーーーーーーーーーーーーー {border:none;}
.ーー枠線ーーーーーーーーーーーーーーーーー {border:none;}

p {
    text-shadow: 2px 2px 4px #000;
}


.ーー角丸ーーーーーーーーーーーーーーーーー {border:none;}

div {
    box-shadow: 5px 5px 3px #000;
    background: #ff0000;
    width: 300px;
    height: 300px;
}


.ーー正円ーーーーーーーーーーーーーーーーー {border:none;}

.circle {
    width: 200px;
    height: 200px;
    background: red;
    border-radius: 50%;
  }


.ーー問題ーーーーーーーーーーーーーーーーー {border:none;}

.practice {
    width: 200px;
    height: 200px;
    background: red;
    box-shadow: 10px 10px 0 black;
}