p {
    color:red;
}

div {
    background-color: red
}

span {
    background-color: red;
}

.example1 {
    display: inline;
}
.example2 {
    display: block;
}
.example3,
.example4 {
    display: inline-block;
}
  