.item {
    background: #ff0000;
    height: 100px;
    width: 100px;
    transform: rotate(30deg);
}
  
/* -------------------------------- */
  
.item {
    background: #ff0000;
    height: 100px;
    width: 100px;
    transform: rotate(-30deg);
}

/* -------------------------------- */

.item {
    background: #ff0000;
    height: 100px;
    width: 100px;
    transform: translate(30px,50px);
}

/* -------------------------------- */

.parent {
    position: relative;
    background: black;
    color: white;
    width: 300px;
    height: 300px;
}
  .child {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* -------------------------------- */

.flex {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #008888;
    height: 600px;
  }
  
  .flex__child {
    font-size: 40px;
    color: #fff;
    font-weight: 600;
  }