.ーーー【CSS設計の基本】ーーーーーーーーーーーーーー {border:none;}
.ーー要素名ーーーーーーーーーーーーーーーー {border:none;}

p {
  font-size: 16px;
  font-weight: bold;
}


.ーーclassーーーーーーーーーーーーーーーー {border:none;}

.title {
  font-size: 16px;
  font-weight: bold;
}