.ーーー【Webフォントの使い方】ーーーーーーーーーーー {border:none;}
.ーーGoogleFontsの使い方ーーーーーーーーー {border:none;}

p {
    font-family: "Gorditas", cursive;
    font-size: 60px;
}


.ーー問題ーーーーーーーーーーーーーーーーー {border:none;}

h2 {
    font-family: "Noto Serif JP", serif;
}