.ーーー【影】ーーーーーーーーーーーーーーーーーーーー {border:none;}
.ーー要素に対する影ーーーーーーーーーーーー {border:none;}

div {
    width: 200px;
    height: 200px;
    background: #ff0000;
    border-radius: 30px;
}


.ーー文字に対する影ーーーーーーーーーーーー {border:none;}

p{
    border: solid 2px #ff0000;
}


.ーー問題ーーーーーーーーーーーーーーーーー {border:none;}

.practice {
    width: 200px;
    height: 200px;
    background: red;
    border-radius: 60px 0 60px 0px;
}